/* Write your CSS code here. */
.bg {
  background-image: linear-gradient(to right, #ffc0bb, #ffeeee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emojiContainer {
  width: 60%;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.emojiListCont {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.liStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  margin-left: 20px;
}
